{% extends "base.html" %}
{% block content %}


<!-- Stats Section -->
<div class="bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="margin margin--w780">
        <div class="card card-3">
            <div class="ameaca">
                <h2 class="title-ameaca">Parâmetros da Ameaça</h2>
                <div class="titulo">
                    <h3 class="nome">Nome da Ameaça</h3>
                    <h3 class="nd">ND {{nd}}</h3><br>
                </div>
                <div class="tamanho">
                    <h5>{{form.tamanho.value}}</h5>
                </div>
                <div class="stats">
                    <p class="stats-p">
                        Defesa <span style="color: white;">{{defesa}},</span>
                        Resistência Forte <span style="color: white;">{{resis_forte}},</span>
                        Resistência Média <span style="color: white;">{{resis_media}},</span>
                        Resistência Fraca <span style="color: white;">{{resis_fraca}}</span>
                    </p>
                    <p>Pontos de Vida <span style="color: white;">{{pv}}</span></p>
                    <p>Deslocamento <span style="color: white;">{{andar}}m</span></p>
                    <p class="creature">Tipo da Criatura <span
                            style="color: white;">{{form.deslocamento_tipo.value}}</span></p>
                    <p class="ataque">Bônus de Ataque <span style="color: white;">{{bonus_ataque}}</span></p>
                    <p>Dano Médio <span style="color: white;">{{dano_medio}}</span></p>
                    <p class="total-ataque">
                        {% if form.quantidade_ataques.value == '1' %}
                            {{form.quantidade_ataques.value}} <span style="color: red;">Ataque:</span> +{{bonus_ataque}}
                            {{form.quantidade_dados.value}}{{form.dado.value}}+{{modificador}}
                        {% else %}
                            {{form.quantidade_ataques.value}} <span style="color: red;">Ataques:</span> +{{bonus_ataque}}
                            {{form.quantidade_dados.value}}{{form.dado.value}}+{{modificador}}
                        {% endif %}
                    </p>
                    <p>Efeito Padrão (CD) <span style="color: white;">{{cd}}</span></p>
                    <p>Espaço Ocupado/Alcance Natural:<span style="color: white;"> {{espaco_ocupado}}</span></p>
                    <p>Modificador de Manobra/Furtividade: <span
                            style="color: white;">{{mod_manobra_furtividade}}</span></p>
                </div>
                <a href="{% url 'criar-ameaca' %}" type="button" class="btn btn-danger"
                    style="margin-left: 210px; margin-top: 50px;">Criar Nova Ameaça</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}