{% load static %}
{% load livereload_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Ameaças T20</title>
 <!-- CSS
  ================================================== -->
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css'%}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% livereload_script %}
</head>
<body id="body">
    {% block content %} {% endblock %}

    <!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>

<!-- Bootstrap4 -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}"></script>

<!-- Main js -->
    <script src="{% static 'js/mains.js' %}"></script>


</body>
</html>


