{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% include 'partials/_header.html' %}
<!-- Whole Ameaça section -->
<section class="index">
    <div class="container">
        <!-- section title -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="title text-center">
                    <h2>Gerador de Ameaças T20</h2>
                </div>
            </div>
        </div>
        <!-- section title -->
        <!-- Main text start -->
        <div class="row">
            <div class="col-md-4 text-center d-none d-md-block">
                <img loading="lazy" src="{% static 'images/monster.png' %}" class="img-fluid inline-block" alt="">
            </div>
            <div class="col-md-8">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <div class="item-a">
                            <p>Seguindo as regras lançadas pela Jambô Editora na revista Dragão Brasil edição nº180,
                                crie sua ameaça de uma maneira rápida e simples com todos os dados compilados em um único lugar.
                            </p>
                            <a href="{% url 'criar-ameaca' %}" type="button" class="btn btn-danger">Criar Ameaça</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="item-b">
                            <p>Se você está sem ideias e quer utilizar as regras da Dragão Brasil edição nº180 para criar uma criatura completamente aleatória,
                                basta escolher apenas o ND e clicar no botão abaixo.
                            </p>
                            <form action="{% url 'criar-ameaca-aleatoria' %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <div class="col-sm-12">
                                        ND: {{form_aleatoria.nd|add_class:'form-control-plaintext'}}
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-danger" value="Gerar Ameaça Aleatória">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer-index">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">
                    <a class="navbar-brand" href="https://github.com/gbavieira">
                        <img src="{% static 'images/logo.png' %}" alt="logo">
                    </a> 
                </p>
            </div>
            <div class="col-md-4 col-12">
                <!-- Social Media -->
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a href="https://www.linkedin.com/in/gabriel-vieira-b1224843/" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/gbavieira" class="Github">
                            <i class="ion-social-github"></i>
                        </a>
                    </li>
                </ul>
            </div>   
        </div>
    </div>
</footer>

{% endblock %}  