@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #7d120f 0%, #000000 100%);
    background: -moz-linear-gradient(bottom, #7d120f 0%, #000000 100%);
    background: -o-linear-gradient(bottom, #7d120f 0%, #000000 100%);
    background: linear-gradient(to top, #7d120f 0%, #000000 100%);
    color: white;
}

.row p{
    text-align:justify;
    text-justify: inter-word;
    height: 150px;
    margin-top: -15px;
}

.title{
    padding-bottom: 60px;
}

.btn{
    border-radius: 25px; 
}

.item-a {
    border: 1px solid rgba(121, 121, 121, 0.1);
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 50px 20px;
    transition: all 0.3s ease 0s;
    height: 350px;
    width: 300px;
}

.item-a:hover{
    box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.item-a .btn {
    margin-top: 85px;
    border-radius: 25px;
}

.item-b {
    border: 1px solid rgba(121, 121, 121, 0.1);
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 50px 20px;
    transition: all 0.3s ease 0s;
    height: 350px;
    width: 300px;
}


.item-b .btn {
    margin-top: 0px;
    border-radius: 25px;
}

.item-b:hover{
    box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.form-control-plaintext {
    position: relative;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: white;
}

.bg-blue {
    background: #a71f1f;
  }
  
  .bg-red {
    background: #1f0f11;
  }
  
  .bg-gra-01 {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #7d120f 0%, #000000 100%);
    background: -moz-linear-gradient(bottom, #7d120f 0%, #000000 100%);
    background: -o-linear-gradient(bottom, #7d120f 0%, #000000 100%);
    background: linear-gradient(to top, #7d120f 0%, #000000 100%);
  }
  

.p-t-100 {
    padding-top: 100px;
  }
  
  .p-t-180 {
    padding-top: 100px;
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  } 

  
.margin {
  margin: 0 auto;
}

.margin--w780 {
  max-width: 780px;
}

.form-control {
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  background: transparent;
  color: white;
}

.form-control:focus{
    background: transparent;
    color: white;
}

.form-control::placeholder{
    color:white;
}

option {
    background: black;
    color: white;
}

.form-group{
    display: flex;
    position: relative;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title-ameaca {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
    text-align-last: center;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }
  
.card-3 {
    background: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: table;
  }
  
.card-3 .card-heading {
    background: url("../images/lefeu.jpg") 20%/cover no-repeat;
    display: table-cell;
    width: 50%;
  }
  
.card-3 .card-body {
    padding: 57px 65px;
    padding-bottom: 30px;
    display: table-cell;
    padding-right: 10px;
    padding-left: 20px;
  }
  
@media (max-width: 767px) {
    .card-3 {
      display: block;
    }
    .card-3 .card-heading {
      display: block;
      width: 100%;
      padding-top: 400px;
      background-position: center center;
    }
    .card-3 .card-body {
      display: block;
      width: 100%;
      padding: 37px 30px;
      padding-bottom: 45px;
    }
  }



.nome{
  float:left;
}

.nd{
  float: right;
}

.titulo{
  color:red;

}

.tamanho{
  color:white;
  border-bottom: 3px solid red;
  background: left;
  clear: left;
  font-style: italic;
}

.stats{
  color:red;
  margin-bottom: 0;
}

.stats-p{
  margin-top: 20px;
  margin-bottom: 0;
}

p{
  margin-bottom: 0;
}

.creature{
  border-bottom: 3px solid red;
}

.ataque{
  color:red;
  margin-top: 20px;
}

.total-ataque{
  color: white;
}

.card-3 .ameaca{
  padding: 90px;
}

.atributes{
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  text-align: center;
}


.navbar-light .navbar-nav .nav-link{
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: white;
}

.navbar-light .navbar-nav .show>.nav-link {
  color: rgb(255 255 255);
}


#footer {
  background: linear-gradient(to top, #000000 0%, #7d120f 100%);
  padding: 25px 0;
  color: #555;
}
#footer .copyright {
  font-size: 13px;
  margin-bottom: 0;
  padding-top: 100px;
}
#footer .copyright a {
  color: #02bdd5;
}
#footer .social {
  text-align: right;
  margin-bottom: -100px;
  padding-top: 90px;
}
#footer .social li {
  display: inline-block;
  margin-right: 15px;
}
#footer .social li a {
  font-size: 22px;
  color: white;
}

#footer-index {
  background: tra;
  padding: 25px 0;
  color: #555;
  margin-top: 85px;
}

#footer-index .copyright {
  font-size: 13px;
  margin-bottom: 0;
  padding-top: 100px;
}
#footer-index .copyright a {
  color: #02bdd5;
}
#footer-index .social {
  text-align: right;
  margin-bottom: -100px;
  padding-top: 90px;
}
#footer-index .social li {
  display: inline-block;
  margin-right: 15px;
}
#footer-index .social li a {
  font-size: 22px;
  color: white;
}

.cd-headline.slide .cd-words-wrapper {
  color: white;
}

ul.social-icons {
  height: auto;
  overflow: hidden;
  list-style: none !important;
  margin-bottom: 10px;
}
ul.social-icons li {
  float: none;
  display: inline-block;
  height: 36px;
}

#copyright a:hover, #copyright nav .menu li a:hover {
  color: #e4e4e4 !important;
}
#copyright a {
  text-decoration: none;
}
#copyright a:hover {
  text-decoration: none;
}

.navbar-brand{
  padding-left:18px;
}

.navbar-brand img{
  width: 20%;
}

.dropdown-item{
  background-color: #000;
  color: white;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  background-color: black;
}

section{
  margin-top:30px;
}